$color-blue: #2f76ff;
$color-white: #ffffff;
$color-background: #f1f1f1;
$color-background-button: #f85a47;

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;

  li {
    padding: 0.5rem 1rem;
  }
}

a {
  color: $color-white;
}

.bg-light {
  background-color: $color-background !important;
}

.hero__banner {
  right: 0;
  top: 0;
  z-index: 10;
}
.hero {
  height: 500px;
  background-color: $color-background;
  margin-bottom: 10rem;
}

.zindex {
  z-index: 10;
}

.header__menu {
  width: 100%;
  z-index: 10;

  &__logo--1 {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: $color-blue;
  }

  &__navbar {
    a {
      color: black;
    }
  }

  &__auth {
    button {
      background-color: $color-blue;
      color: $color-white;
    }
  }

  &--height {
    width: 80%;
    background-color: $color-white;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}

.header__menu--height-search-background {
  background-color: $color-background-button;
}
.card__info__content {
  width: 80%;
  padding: 1rem 0;
}

.card__info__button {
  width: 45px;
  height: 40px;
  background-color: $color-background-button;
  position: absolute;
  right: 0;
  top: 50%;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 20px;
    height: 10px;
  }
}

.row-padding {
  padding: 5rem 0;
}

.step {
  width: 80%;
  text-align: center;

  &__logo {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    position: relative;
    margin: 1rem auto;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &--blue {
      background-color: #9672ff;
    }

    &--green {
      background-color: #4ddffd;
    }

    &--violet {
      background-color: #f2b8ec;
    }
  }
}

.row-padding-fix {
  padding-top: 2rem;
}

.service {
  width: 260px;
  height: 60px;
  &__list {
    height: 300px;
    min-width: fit-content;
  }
}

.service2 {
  height: 800px;

  &__background {
    position: absolute;
    background-color: #4ddffd;
    right: 0;
    width: 90%;
    height: 600px;

    &__content {
      position: absolute;
      width: 40%;
      max-height: fit-content;
      bottom: 0;
      right: 0;
      transform: translate(-20%, -50%);

      &--btn {
        margin: 0 auto;
        button {
          background-color: $color-background-button;
        }
      }
    }
  }

  &__img {
    position: absolute;
    top: 2%;
  }
}

.service2__large__content {
  width: 40%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);

  &__title,
  &__desc,
  &__info,
  &__btn {
    width: 100%;
    margin: 1.5rem 0;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;

    &__text {
      width: 33%;
      margin: 1rem 0;
    }
  }
  &__btn {
    button {
      width: 100%;
      background-color: $color-background-button;
      color: $color-white;
      text-align: center;
    }
  }
}

.container {
  &__title {
    width: 40%;
    font-size: 25px;
    font-weight: 600;
  }

  .testimonial {
    border: 0.5px solid $color-background;

    &__star,
    &__desc,
    &__auth {
      margin: 2rem 0;
    }

    &__auth {
      display: flex;
      align-items: center;

      &__img {
        margin-right: 1rem;
      }
    }
  }
}

.logo {
  &__img {
    width: 20%;
  }
}

.feature {
  &__desc {
    width: 30%;
  }

  &__header__title {
    font-size: 25px;
    font-weight: 600;
  }
  &__header__btn {
    background-color: $color-background-button;
    color: $color-white;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 7px;
  }

  &__nav {
    &__list {
      list-style: none;
      padding-left: 0;

      li {
        padding: 0.5rem 1rem;
        font-weight: 600;
      }
    }
  }
}

.cta {
  height: 650px;
  position: relative;

  &__background {
    width: 80%;
    height: 90%;
    background-color: #d6ebe4;
    border-radius: 0 100px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;

    &__info {
      width: 35%;
      position: absolute;
      right: 5%;
      top: 30%;

      &__title {
        font-size: 25px;
        font-weight: 600;
        width: 100%;
        padding: 0.5rem 0;
      }

      &__desc {
        font-size: 13px;
        padding: 0.5rem 0;
        margin-bottom: 1rem;
      }

      &__btn {
        background-color: $color-background-button;
        padding: 0.5rem 0;
        color: $color-white;
        width: 50%;
        border-radius: 10px;
        text-align: center;
      }
    }
  }
}

.footer {
  &__logo__title {
    text-align: center;
  }

  &__logo__img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #2f76ff;
    position: relative;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__payment {
    position: relative;

    &--bank-orange {
      width: 16px;
      height: 16px;
      background-color: $color-background-button;
      border-radius: 50%;
      position: absolute;
      bottom: 25%;
    }
    &--bank-lightorange {
      width: 16px;
      height: 16px;
      background-color: #ff5f01;
      border-radius: 50%;
      position: absolute;
      bottom: 25%;
      transform: translateX(50%);
    }
  }
}

.footer {
  padding: 8rem 0;
  flex-wrap: wrap;

  &__logo--general {
    width: 200px;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero__banner {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .hero__banner {
    display: none;
  }
  .hero__info {
    padding: 10%;
  }
  .step {
    width: 100%;
  }

  .container__title {
    width: 100%;
  }

  .service2__background {
    left: 50%;
    transform: translate(-50%);

    &__content {
      left: 50%;
      transform: translate(-50%, -25%);
      width: 80%;
    }
  }

  .service2__img {
    display: none;
  }

  .cta {
    &__background {
      left: 50%;
      transform: translateX(-50%);

      &__info {
        left: 50%;
        transform: translate(-50%, -10%);
        width: 70%;
      }
    }

    &__img {
      display: none;
    }
  }

  .feature__img {
    text-align: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .hero__info {
    padding: 10%;
  }
  .hero__banner {
    width: 500px;
    opacity: 0.9;
  }

  .header__menu--height-line {
    width: 200px;
    padding: 0 1rem;
  }
  .feature__img {
    img {
      width: 100%;
    }
  }

  .service2__background {
    left: 50%;
    transform: translate(-50%);

    &__content {
      left: 50%;
      transform: translate(-50%, -25%);
    }
  }

  .service2__img {
    display: none;
  }

  .cta {
    &__background {
      left: 50%;
      transform: translateX(-50%);

      &__info {
        left: 50%;
        transform: translate(-50%, -10%);
      }
    }

    &__img {
      display: none;
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1192px) {
  .hero__banner {
    width: 650px;
  }

  .feature__img {
    img {
      width: 100%;
    }
  }
}
