* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
}
ul li {
  padding: 0.5rem 1rem;
}

a {
  color: #ffffff;
}

.hero__banner {
  right: 0;
  top: 0;
  z-index: 10;
}

.hero {
  height: 500px;
  background-color: #f1f1f1;
  margin-bottom: 10rem;
}

.zindex {
  z-index: 10;
}

.navbar-light {
  background-color: #f1f1f1 !important;
}

.header__menu {
  width: 100%;
  z-index: 10;
  padding: 20px;
}
.header__menu__logo--1 {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #2f76ff;
}
.header__menu__navbar a {
  color: black;
}
.header__menu__auth button {
  background-color: #2f76ff;
  color: #ffffff;
}
.header__menu--height {
  width: 80%;
  background-color: #ffffff;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.header__menu--height-search-background {
  background-color: #f85a47;
}

.card__info__content {
  width: 80%;
  padding: 1rem 0;
}

.card__info__button {
  width: 45px;
  height: 40px;
  background-color: #f85a47;
  position: absolute;
  right: 0;
  top: 50%;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__info__button img {
  width: 20px;
  height: 10px;
}

.row-padding {
  padding: 5rem 0;
}

.step {
  width: 80%;
  text-align: center;
}
.step__logo {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  position: relative;
  margin: 1rem auto;
}
.step__logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.step__logo--blue {
  background-color: #9672ff;
}
.step__logo--green {
  background-color: #4ddffd;
}
.step__logo--violet {
  background-color: #f2b8ec;
}

.row-padding-fix {
  padding-top: 2rem;
}

.service {
  width: 260px;
  height: 60px;
}
.service__list {
  min-width: fit-content;
  flex-direction: column;
  justify-content: space-evenly;
}

.service2 {
  height: 800px;
}
.service2__background {
  position: absolute;
  background-color: #4ddffd;
  right: 0;
  width: 90%;
  height: 600px;
}
.service2__background__content {
  position: absolute;
  width: 40%;
  max-height: fit-content;
  bottom: 0;
  right: 0;
  transform: translate(-20%, -50%);
}
.service2__background__content--btn {
  margin: 0 auto;
}
.service2__background__content--btn button {
  background-color: #f85a47;
}
.service2__img {
  position: absolute;
  top: 2%;
}

.service2__large__content {
  width: 40%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
}
.service2__large__content__title, .service2__large__content__desc, .service2__large__content__info, .service2__large__content__btn {
  width: 100%;
  margin: 1.5rem 0;
}
.service2__large__content__info {
  display: flex;
  flex-wrap: wrap;
}
.service2__large__content__info__text {
  width: 33%;
  margin: 1rem 0;
}
.service2__large__content__btn button {
  width: 100%;
  background-color: #f85a47;
  color: #ffffff;
  text-align: center;
}

.container__title {
  width: 40%;
  font-size: 25px;
  font-weight: 600;
}
.container .testimonial {
  border: 0.5px solid #f1f1f1;
}
.container .testimonial__star, .container .testimonial__desc, .container .testimonial__auth {
  margin: 2rem 0;
}
.container .testimonial__auth {
  display: flex;
  align-items: center;
}
.container .testimonial__auth__img {
  margin-right: 1rem;
}

.logo__img {
  width: 20%;
}

.feature__desc {
  width: 30%;
}
.feature__header__title {
  font-size: 25px;
  font-weight: 600;
}
.feature__header__btn {
  background-color: #f85a47;
  color: #ffffff;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 7px;
}
.feature__nav__list {
  list-style: none;
  padding-left: 0;
}
.feature__nav__list li {
  padding: 0.5rem 1rem;
  font-weight: 600;
}

.cta {
  height: 650px;
  position: relative;
}
.cta__background {
  width: 80%;
  height: 90%;
  background-color: #d6ebe4;
  border-radius: 0 100px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.cta__background__info {
  width: 35%;
  position: absolute;
  right: 5%;
  top: 30%;
}
.cta__background__info__title {
  font-size: 25px;
  font-weight: 600;
  width: 100%;
  padding: 0.5rem 0;
}
.cta__background__info__desc {
  font-size: 13px;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
}
.cta__background__info__btn {
  background-color: #f85a47;
  padding: 0.5rem 0;
  color: #ffffff;
  width: 50%;
  border-radius: 10px;
  text-align: center;
}

.footer__logo__title {
  text-align: center;
}
.footer__logo__img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #2f76ff;
  position: relative;
}
.footer__logo__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer__payment {
  position: relative;
}
.footer__payment--bank-orange {
  width: 16px;
  height: 16px;
  background-color: #f85a47;
  border-radius: 50%;
  position: absolute;
  bottom: 25%;
}
.footer__payment--bank-lightorange {
  width: 16px;
  height: 16px;
  background-color: #ff5f01;
  border-radius: 50%;
  position: absolute;
  bottom: 25%;
  transform: translateX(50%);
}

.footer {
  padding: 8rem 0;
  flex-wrap: wrap;
}
.footer__logo--general {
  width: 200px;
  text-align: center;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero__banner {
    display: none;
  }
  .overflow {
    overflow-x: scroll;
  }
  .container__title {
    width: 70%;
  }
}
@media only screen and (max-width: 767px) {
  .hero__banner {
    display: none;
  }
  .hero__info {
    padding: 10%;
  }
  .step {
    width: 100%;
  }
  .container__title {
    width: 100%;
  }
  .overflow {
    overflow-x: scroll;
  }
  .service2__background {
    left: 50%;
    transform: translate(-50%);
  }
  .service2__background__content {
    left: 50%;
    transform: translate(-50%, -25%);
    width: 80%;
  }
  .service2__img {
    display: none;
  }
  .cta__background {
    left: 50%;
    transform: translateX(-50%);
  }
  .cta__background__info {
    left: 50%;
    transform: translate(-50%, -10%);
    width: 70%;
  }
  .cta__img {
    display: none;
  }
  .feature__img {
    text-align: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .hero__info {
    padding: 10%;
  }
  .hero__banner {
    width: 500px;
    opacity: 0.9;
  }
  .header__menu--height-line {
    width: 200px;
    padding: 0 1rem;
  }
  .feature__img img {
    width: 100%;
  }
  .service2__background {
    left: 50%;
    transform: translate(-50%);
  }
  .service2__background__content {
    left: 50%;
    transform: translate(-50%, -25%);
  }
  .service2__img {
    display: none;
  }
  .cta__background {
    left: 50%;
    transform: translateX(-50%);
  }
  .cta__background__info {
    left: 50%;
    transform: translate(-50%, -10%);
  }
  .cta__img {
    display: none;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1192px) {
  .hero__banner {
    width: 650px;
  }
  .feature__img img {
    width: 100%;
  }
}

/*# sourceMappingURL=index.css.map */
