@media screen and (min-width: 992px) and (max-width: 1200px) {
  .hero {
    height: 780px;

    &__banner {
      height: 490px;

      img {
        object-fit: none;
      }
    }

    &__background {
      height: 400px;
    }

    &__content {
      &__header {
        &__title {
          width: 88%;
        }

        &__desc {
          width: 76%;
        }
      }

      &--style {
        height: 78%;
      }
    }

    &__menu {
      top: 45%;

      &__list {
        &__item {
          border-right: none;
          padding-right: 0;

          &--location {
            margin-right: 2rem;
          }
        }
      }
    }
  }

  .service2 {
    &__img {
      width: 450px;
    }

    &__background {
      &__content {
        &__btn {
          font-size: 15px;
        }
      }
    }
  }

  .cta {
    &__img {
      width: 450px;
    }

    &__background {
      &__content {
        margin-left: 50%;
        margin-top: 15%;
      }
    }
  }
}

@media screen and (max-width: 1364px) {
  .hero {
    &__banner {
      img {
        height: 100%;
      }
    }
  }
}
