.dropbtn,
.dropbtn__service {
  background-color: #f85a47;
  border-radius: 10px;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 3rem 0;
}

.dropdown,
.dropdown__service {
  text-align: center;
  display: none;
  margin: 0 auto;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content .dropdown-content__item {
  color: #f1f1f1;
  padding: 12px 16px;
  cursor: pointer;
  background-color: #f85a47;
}

.dropdown-content .dropdown-content__item:hover {
  background-color: #3e8e41;
}

.dropdown-content .dropdown-content__service {
  color: #f1f1f1;
  padding: 12px 16px;
  cursor: pointer;
  background-color: #f85a47;
}

.dropdown-content .dropdown-content__service:hover {
  background-color: #3e8e41;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.dropdown__service:hover .dropdown-content {
  display: block;
}

.dropdown__service:hover .dropbtn {
  background-color: #3e8e41;
}
