.btn-group {
  display: none;
  margin: 2rem auto;
}

.btn-group > .btn:first-child {
  min-width: 160px;
  background-color: #f1f1f1;
  color: #f85a47;
  border: 1px solid #f85a47;
}

.dropdown-item {
  background-color: #f1f1f1;
  color: #f85a47;
  border: 1px solid #f85a47;
}

.dropdown-menu {
  display: none;
  background: #f1f1f1;
}
