.btn-group {
  display: none;
  margin: 2rem auto;
}

.btn-group > .btn:first-child {
  min-width: 160px;
  background-color: #f1f1f1;
  color: #f85a47;
  border: 1px solid #f85a47;
}

.dropdown-item {
  color: #f1f1f1;
  background-color: #333;
  padding: 0.5rem 1.5rem;
}
