$color-background-button: #f85a47;
$font-manrope: "Manrope", sans-serif;

.feature {
  &__header {
    display: flex;
    justify-content: space-between;

    &__content {
      width: 50%;

      &__desc {
        width: 85%;

        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #000000;
        }
      }
    }

    &__btn {
      background-color: $color-background-button;
      border-radius: 5px;
      font-weight: 500;
      font-size: 17px;
      line-height: 21px;
      text-align: center;
      color: #ffffff;
      width: 200px;
      height: 65px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__text {
      margin: 2rem 1rem;
      cursor: pointer;

      p {
        font-weight: 400;
        font-size: 19px;
        line-height: 23px;
      }
    }
  }

  .active {
    color: $color-background-button;
    border-bottom: 1px solid $color-background-button;
  }

  &__img {
    position: relative;
    z-index: 0;

    .slick-prev:before,
    .slick-next:before {
      background-color: #f1f1f1;
      border-radius: 100%;
      color: #f85a47;
    }

    &__list {
      .slick-dots li.slick-active button:before {
        opacity: 0.75;
        color: #f85a47;
      }

      .slick-dots li button:before {
        font-size: 15px;
        color: #f85a47;
      }

      &__item {
        img {
          width: 95%;
          object-fit: cover;
        }
      }
    }
  }

  .btn-group {
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    z-index: 1;
  }
}
