@media screen and (min-width: 1200px) {
  h1 {
    font-family: $font-manrope;
    font-size: 64px;
    font-weight: 700;
    line-height: 70px;
  }

  h2 {
    font-family: $font-manrope;
    font-weight: 600;
    font-size: 45px;
    line-height: 55px;
    color: #101130;
  }

  h3 {
    font-family: $font-manrope;
    font-weight: 600;
    font-size: 40px;
    line-height: 55px;
    color: #000000;
  }

  h4 {
    font-family: $font-manrope;
    font-weight: 600;
    font-size: 31px;
    line-height: 42px;
  }

  h6 {
    font-weight: 500;
    line-height: 1.2;
    font-size: 32px;
  }
}
