@import "./hero";
@import "./howitworks";
@import "./service";
@import "./service2";
@import "./testimonial";
@import "./feature";
@import "./cta";
@import "./footer";
@import "./smalldevice.scss";
@import "./mobile";
@import "./tablet";
@import "./desktop-small";
@import "./large";
@import "./dropdown";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Manrope:wght@600;700&family=Roboto&display=swap");

$font-inter: "Inter", sans-serif;
$font-manrope: "Manrope", sans-serif;

* {
  box-sizing: border-box;
  font-family: $font-inter;
}

.container-fluid {
  padding: 0;
}

ul {
  list-style: none;
  padding-left: 0;

  li {
    padding: 0.5rem 1rem;
  }
}

.general--padding {
  padding: 4rem 0;
}

.general--margin-top {
  margin-top: 7rem;
}

#map {
  width: 100%;
  height: 300px;
}

.leaflet-container .leaflet-control-attribution {
  display: none;
}

.leaflet-control-geocoder-alternatives-minimized {
  display: block;
}

#checkin,
#checkout {
  display: none;
}

//  css modal
.modal-content {
  width: 90%;
  margin: 0 auto;
}

.modal-header,
.modal-body,
.modal-footer {
  background-color: #d6ebe4;
}

.modal-header {
  border-bottom: 1px solid white;

  h4 {
    font-size: 20px;
  }

  button {
    span {
      color: red;
    }
  }
}

.modal-body {
  .hero__menu__modal__name {
    margin: 1rem auto;

    h4 {
      font-size: 1rem;
      text-align: center;
    }

    h3 {
      font-size: 20px;
      text-align: center;
    }
  }

  .hero__menu__modal__booking {
    .hero__menu__modal__location,
    .hero__menu__modal__checkin,
    .hero__menu__modal__checkout {
      margin: 2rem 0;

      h5 {
        font-size: 1rem;
      }

      p {
        font-size: 14px;
      }
    }
  }
}

.modal-footer {
  border-top: 1px solid white;
}

.modal-footer__location__desc {
  font-size: 14px;
}
