@import "./hero";
@import "./howitworks";
@import "./service";
@import "./service2";
@import "./testimonial";
@import "./feature";
@import "./cta";
@import "./footer";
@import "./smalldevice.scss";
@import "./mobile";
@import "./tablet";
@import "./desktop-small";
@import "./large";
@import "./dropdown";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Manrope:wght@600;700&family=Roboto&display=swap");

$font-inter: "Inter", sans-serif;
$font-manrope: "Manrope", sans-serif;

* {
  box-sizing: border-box;
  font-family: $font-inter;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, #159fed, #f85a47);
  border-radius: 100rem;
}

body::-webkit-scrollbar-track {
  // background-color: #333;
  background-image: linear-gradient(to bottom, #333, #f1f1f1);
  border-radius: 100rem;
}

.container-fluid {
  padding: 0;
}

ul {
  list-style: none;
  padding-left: 0;

  li {
    padding: 0.5rem 1rem;
  }
}

.general--padding {
  padding: 4rem 0;
}

.general--margin-top {
  margin-top: 7rem;
}

#map {
  width: 100%;
  height: 300px;
}

.leaflet-container .leaflet-control-attribution {
  display: none;
}

.leaflet-control-geocoder-alternatives-minimized {
  display: block;
}

#checkin,
#checkout {
  display: none;
}

//  css modal
.modal-content {
  width: 90%;
  margin: 0 auto;
  border-radius: 15px;
  background-color: #f85a47;
}

.modal-header {
  border-radius: 20px 20px 0 0;
  border-bottom: 2px solid white;

  .close {
    opacity: 1;
  }

  h4 {
    font-size: 20px;
    color: white;
  }

  h5 {
    color: white;
  }
}

.modal-body {
  background-color: whitesmoke;
  .hero__menu__modal__name {
    margin: 1rem auto;
    text-align: center;

    h4 {
      font-size: 24px;
    }

    h6 {
      font-size: 18px;
      font-weight: 500;
    }
  }

  .hero__menu__modal__booking {
    .hero__menu__modal__location,
    .hero__menu__modal__checkin,
    .hero__menu__modal__checkout {
      margin: 2rem 0;

      h5 {
        font-size: 20px;
        font-weight: 500;
      }

      h6 {
        font-size: 18px;
        font-weight: 500;
      }

      span {
        font-size: 16px;
        font-weight: 400;
      }
    }
  }

  .leaflet-touch .leaflet-control-geocoder {
    border: 1px solid #f85a47;
  }
}

.modal-footer {
  border-radius: 0 0 20px 20px;
  border-top: 2px solid white;

  .btn-save {
    background-color: #2f76ff;
    border: none;
    color: white;
  }
}

.modal-footer__thank {
  justify-content: flex-start;

  h6 {
    font-size: 18px;
    font-weight: 500;
    color: white;
  }
}

.modal-footer__location__desc {
  font-size: 14px;
}

// custom date picker
.ui-widget-header {
  border: 1px solid #f85a47 !important;
  background: #f85a47 !important;
  color: #f1f1f1 !important;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight {
  background: #ebcfcd !important;
  border: 1px solid #f3b9b3 !important;
  color: #1c94c4 !important;
}

.ui-state-default {
  border: 1px solid #f3b9b3 !important;
}

.ui-widget {
  font-size: 1em;
}

// leaflet
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  span {
    color: #f85a47;
  }
}
