@media screen and (min-width: 543px) and (max-width: 768px) {
  //hero
  .hero {
    height: 937px;

    &__navbar {
      padding: 0;
      width: 100%;
      background: #f1f1f1;
      opacity: 0.9;

      .navbar {
        padding: 1rem 2rem;
        button {
          background-color: #2f76ff;
        }
      }

      form {
        button {
          height: auto;
        }
      }
    }

    &__banner {
      width: 100%;
      opacity: 0.4;
      height: 455px;
    }

    &__background {
      height: 935px;
    }

    &__content {
      &__header {
        &__title {
          width: 100%;
          text-align: center;

          h1 {
            font-size: 45px;
          }
        }

        &__desc {
          width: 100%;
          text-align: center;
          padding: 0;

          p {
            font-size: 15px;
            color: black;
          }
        }
      }

      &__header.general--margin-top {
        margin-top: 6rem;
      }

      &--style {
        height: auto;
        margin-top: 18rem;

        &__card {
          margin: 1rem 0;
          position: relative;

          &__user {
            img {
              width: 22px;
            }
          }

          &__content {
            width: 48%;

            h6 {
              font-size: 20px;
              margin-bottom: 0;
            }
          }

          &__desc {
            padding: 0 0.5rem;
          }

          &__icon {
            right: 10%;
            width: 40px;
            height: 40px;
          }
        }
      }
    }

    &__menu {
      left: 50%;
      width: 100%;
      top: 41%;

      &--border {
        border: none;
      }

      &--padding {
        padding: 10px;
        width: 100%;
        margin: 0 auto;
      }

      &__list {
        padding: 0.5rem;

        &__item {
          width: 50%;
          text-align: center;
          border: none;

          h6 {
            margin-bottom: 0;
          }

          span {
            font-size: 13px;
          }

          input {
            padding-left: 25px;
          }
        }

        &__search {
          height: 38px;
        }
      }

      &__list__item:not(:last-child) {
        border: none;
        padding: 0;
      }
    }
  }

  // howitworks
  .howitworks {
    padding: 2rem 0 0;

    &__content {
      padding: 0;
      margin: 3rem 0;

      &__list {
        margin: 1rem 0;

        &__item {
          &__title {
            padding: 0;
          }

          &__desc {
            p {
              line-height: 1.5;
            }
          }
          &__icon {
            width: 60px;
            height: 60px;
          }
        }
      }
    }
  }

  // service
  .service {
    &__header {
      text-align: center;
      margin: 0 auto;
      width: 63%;

      h4 {
        font-size: 26px;
      }
    }

    &__content {
      &__list {
        display: none;
      }

      &__img {
        .slick-dots li.slick-active button:before {
          opacity: 0.75;
          color: #f85a47;
        }

        .slick-dots li button:before {
          font-size: 8px;
          color: #f85a47;
        }
      }

      .btn-group {
        display: block;
      }
    }
  }

  // service2
  .service2 {
    height: 950px;

    &__img {
      img {
        width: 90%;
        margin-left: 7%;
        height: auto;
      }
    }

    &__background {
      width: 100%;
      top: 14%;
      height: 765px;

      &__content {
        width: 100%;
        margin-top: 310px;
        margin-left: 0;
        text-align: center;

        &__title,
        &__desc {
          width: 80%;
          text-align: center;

          h4 {
            font-size: 26px;
          }

          p {
            font-size: 15px;
          }
        }

        &__other {
          text-align: center;

          &__text {
            padding: 0;

            h6 {
              font-size: 16px;
            }

            p {
              font-size: 14px;
            }
          }
        }

        &__btn {
          width: 73%;
          border-radius: 15px;
          text-align: center;
          margin: 1rem auto 0;
          font-size: 14px;
          height: 45px;
        }
      }
    }
  }

  //  testimonial
  .testimonial {
    margin-top: 0;

    &__header {
      margin: auto;
      width: 95%;

      h3 {
        text-align: center;
        font-size: 26px;
      }
    }

    &__content {
      .col-12 {
        margin: 0.5rem 0;
      }

      .slick-dots li.slick-active button:before {
        opacity: 0.75;
        color: #f85a47;
      }

      .slick-dots li button:before {
        font-size: 8px;
        color: #f85a47;
      }

      &__card {
        margin: 0 auto;
        width: 90%;

        &__star {
          padding: 1rem 2rem;
        }

        &__desc {
          p {
            margin-bottom: 0;
          }
        }

        &__auto {
          padding: 1rem 2rem;
        }
      }

      &__card--shadow {
        width: 100%;
        margin: 0 auto;
      }
    }

    &__info {
      &__logo {
        margin: 1rem auto;
      }

      &__callme {
        width: 85%;
        margin: 1rem auto;

        p {
          text-align: center;
        }
      }
    }

    .general--padding {
      padding: 2rem 0 0;
    }
  }

  //   feature
  .feature {
    &__header {
      &__content {
        width: 100%;

        &__title,
        &__desc {
          width: 100%;
          text-align: center;
        }
        &__title {
          h3 {
            font-size: 26px;
          }
        }

        &__desc {
          text-align: center;

          p {
            font-size: 14px;
            line-height: 22px;
          }
        }
      }

      &__btn {
        display: none;
      }
    }

    &__img {
      &__list {
        .slick-dots li.slick-active button:before {
          opacity: 0.75;
          color: #f85a47;
        }

        .slick-dots li button:before {
          font-size: 8px;
          color: #f85a47;
        }
      }

      &__item {
        width: 100%;
        margin: 0 auto;
        padding: 0.5rem 0;
      }
    }

    &__menu {
      display: none;
    }

    .btn-group {
      display: block;
    }
  }

  //   cta
  .cta {
    height: 780px;

    &__img {
      width: 80%;
      margin: 0 auto;
      img {
        width: 100%;
      }
    }

    &__background {
      width: auto;
      border-radius: 0;
      height: 670px;

      &__content {
        width: 100%;
        margin-left: 0;
        margin-top: 86%;

        &__title {
          width: 100%;
          text-align: center;

          h2 {
            font-size: 27px;
          }
        }

        &__desc {
          width: 90%;
          text-align: center;
          padding: 0;
          margin: 0 auto;
          p {
            font-size: 14px;
            line-height: 22px;
          }
        }

        &__btn {
          margin: 0 auto;
          width: 110px;
          height: 45px;
          font-size: 14px;
        }
      }
    }
  }

  // footer
  .footer {
    &__content {
      text-align: center;

      &__item {
        &--style {
          width: 65%;
        }

        &__logo {
          justify-content: center;
        }
      }
    }
  }

  .footer2 {
    justify-content: space-around !important;
  }
}
