@media screen and (max-width: 543px) {
  //hero
  .hero {
    height: 865px;

    &__navbar {
      padding: 0;
      width: 100%;
      background-color: #f1f1f1;

      .navbar {
        padding: 1rem;

        button {
          outline: none;
        }
      }

      form {
        button {
          height: auto;
        }
      }

      &__logo--1 {
        width: 23px;
        height: 23px;

        img {
          width: 50%;
        }
      }

      &__logo--2 {
        img {
          width: 65px;
        }
      }

      .navbar__signup {
        width: 80px;
        height: 32px;
        margin: 0.5rem 1rem;
        font-size: 16px;
      }

      a {
        font-weight: 400;
        font-size: 15px;
        line-height: 21px;
        letter-spacing: -0.01em;
        color: #596b7b;
      }

      li a.active {
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: -0.01em;
        color: #1f2b6c;
      }
    }

    &__banner {
      width: 100%;
      opacity: 0.4;
    }

    &__background {
      height: 860px;
    }

    &__content {
      &__header {
        &__title {
          width: 100%;
          text-align: center;

          h1 {
            font-size: 40px;
            line-height: 1.1;
          }
        }

        &__desc {
          width: 100%;
          text-align: center;
          padding: 0;

          p {
            font-size: 15px;
            color: black;
            line-height: 23px;
          }
        }
      }

      &__header.general--margin-top {
        margin-top: 5rem;
      }

      &--style {
        height: auto;
        margin-top: 14.5rem;

        &__card {
          margin: 1rem 0;
          position: relative;

          &__user {
            img {
              width: 16px;
            }
          }

          &__content {
            width: 48%;

            h6 {
              font-size: 18px;
              margin-bottom: 0;
            }
          }

          &__desc {
            padding: 0 0.5rem;

            span {
              font-size: 14px;
            }
          }

          &__icon {
            right: 10%;
            width: 37px;
            height: 37px;
          }

          &--padding {
            padding: 3px;
          }
        }
      }
    }

    &__menu {
      left: 50%;
      width: 93%;
      top: 35%;

      &--border {
        border: none;
      }

      &--padding {
        padding: 10px;
      }

      &__list {
        padding: 0.5rem;

        &__item {
          width: 50%;
          text-align: center;
          border: none;

          h6 {
            margin-bottom: 0;
          }

          span {
            font-size: 13px;
          }

          input {
            padding-left: 25px;
          }
        }

        &__search {
          width: 180px;
          height: 38px;
          font-size: 14px;

          img {
            padding-left: 0.5rem;
            width: 24px;
          }
        }
      }

      &__list__item:not(:last-child) {
        border: none;
        padding: 0;
      }
    }
  }

  // howitworks
  .howitworks {
    padding: 2rem 0 0;

    &__header {
      h3 {
        font-size: 23px;
      }
    }

    &__content {
      padding: 0;
      margin: 3rem 0;

      &__list {
        margin: 1rem 0;

        &__item {
          &__title {
            padding: 0;

            h6 {
              font-size: 18px;
              margin-bottom: 0;
            }
          }

          &__desc {
            p {
              font-size: 14px;
              line-height: 22px;
            }
          }
          &__icon {
            width: 50px;
            height: 50px;
            border-radius: 10px;
          }
        }
      }
    }
  }

  // service
  .service {
    &__header {
      text-align: center;
      margin: 0 auto;
      width: 61%;

      h4 {
        font-size: 23px;
      }
    }

    &__content {
      .slick-prev:before,
      .slick-next:before {
        background-color: #f85a47;
      }
      &__list {
        display: none;
      }

      &__img {
        .slick-dots li.slick-active button:before {
          opacity: 0.75;
          color: #f85a47;
        }

        .slick-dots li button:before {
          font-size: 8px;
          color: #f85a47;
        }
      }

      .btn-group {
        display: block;

        button {
          font-size: 14px;
        }
      }
    }
  }

  // service2
  .service2 {
    height: 820px;

    &__img {
      margin-left: 50%;
      transform: translateX(-50%);
      width: auto;
      height: auto;

      img {
        width: 330px;
        height: auto;
        border-radius: 20px;
      }
    }

    &__background {
      width: 100%;
      top: 14%;
      height: 660px;

      &__content {
        width: 100%;
        margin-top: 220px;
        margin-left: 0;
        text-align: center;

        &__title,
        &__desc {
          width: 80%;
          text-align: center;

          h4 {
            font-size: 23px;
          }

          p {
            font-size: 14px;
            line-height: 23px;
          }
        }

        &__other {
          text-align: center;

          &__text {
            padding: 0;

            h6 {
              font-size: 16px;
              margin-bottom: 2px;
            }

            p {
              font-size: 14px;
            }
          }
        }

        &__btn {
          width: 73%;
          border-radius: 15px;
          text-align: center;
          margin: 1rem auto 0;
          font-size: 14px;
          height: 45px;
        }
      }
    }
  }

  .service2.general--padding {
    padding: 5rem 0;
  }

  //  testimonial
  .testimonial {
    margin-top: 0;

    &__header {
      margin: auto;
      width: 95%;

      h3 {
        text-align: center;
        font-size: 23px;
      }
    }

    &__content {
      .col-12 {
        margin: 0.5rem 0;
      }

      .slick-dots li.slick-active button:before {
        opacity: 0.75;
        color: #f85a47;
      }

      .slick-dots li button:before {
        font-size: 8px;
        color: #f85a47;
      }

      &__card {
        margin: 0 auto;
        width: 90%;

        &__star {
          padding: 1rem 2rem;
        }

        &__desc {
          p {
            margin-bottom: 0;
            font-size: 14px;
            line-height: 23px;
          }
        }

        &__author {
          padding: 1rem 2rem;
          justify-content: center;

          strong {
            font-size: 16px;
            padding-left: 1rem;
          }

          p {
            font-size: 14px;
            text-align: left;
            padding-left: 1rem;
          }
        }
      }

      &__card--shadow {
        width: 100%;
      }
    }

    &__info {
      &__logo {
        &__item {
          img {
            width: 60px;
          }
        }
      }

      .testimonial__info__logo-1 {
        margin-top: 1rem;
      }

      .testimonial__info__logo-2 {
        margin: 1rem 0;
      }

      &__callme {
        width: 85%;
        margin: 0 auto;

        p {
          text-align: center;
          font-size: 14px;
          line-height: 18px;
        }
      }
    }

    .testimonial__content.general--padding {
      padding: 2rem 0 0;
    }
  }

  //   feature
  .feature {
    &__header {
      &__content {
        width: 100%;

        &__title,
        &__desc {
          width: 100%;
          text-align: center;
        }
        &__title {
          h3 {
            font-size: 23px;
          }
        }

        &__desc {
          text-align: center;

          p {
            font-size: 14px;
            line-height: 20px;
          }
        }
      }

      &__btn {
        display: none;
      }
    }

    &__img {
      &__list {
        .slick-dots li.slick-active button:before {
          opacity: 0.75;
          color: #f85a47;
        }

        .slick-dots li button:before {
          font-size: 8px;
          color: #f85a47;
        }
      }

      &__item {
        width: 100%;
        margin: 0 auto;
        padding: 0.5rem 0;
      }
    }

    &__menu {
      display: none;
    }

    .btn-group {
      display: block;
      text-align: center;
      margin: 1rem auto;

      button {
        font-size: 15px;
      }
    }
  }

  //   cta
  .cta {
    height: 537px;

    &__img {
      margin-top: -40px;
      margin-left: 50%;
      transform: translateX(-50%);
      width: auto;
      height: auto;

      img {
        width: 335px;
        height: 260px;
        border-radius: 20px;
      }
    }

    &__background {
      width: auto;
      border-radius: 0;
      height: 455px;
      top: 17%;

      &__content {
        width: 100%;
        margin-left: 0;
        margin-top: 58%;

        &__title {
          width: 100%;
          text-align: center;

          h2 {
            font-size: 24px;
          }
        }

        &__desc {
          width: 80%;
          text-align: center;
          padding: 0;
          margin: 0 auto;
          p {
            font-size: 14px;
            line-height: 20px;
          }
        }

        &__btn {
          margin: 0 auto;
          width: 110px;
          height: 45px;
          font-size: 14px;
        }
      }
    }
  }

  // footer
  .footer {
    &__content {
      &__logo {
        justify-content: center;

        &__background {
          width: 20.51px;
          height: 20.99px;
          margin-right: 2px;
          img {
            width: 50%;
          }
        }

        &__trademark {
          img {
            width: 65px;
          }
        }
      }

      &__item {
        &__title {
          text-align: center;

          h6 {
            font-size: 16px;
            margin-bottom: 0;
          }
        }
        &__desc {
          text-align: center;
          padding: 0.5rem 0;

          p {
            margin-bottom: 5px;
            font-size: 14px;
          }
        }

        &__logo {
          justify-content: center;
        }

        &--style {
          width: 65%;
        }

        &__star {
          text-align: center;
        }
      }
    }
  }

  .footer2 {
    padding: 1rem 1rem;
    justify-content: space-around !important;
    margin-top: -40px;
  }
}

.btn:focus {
  box-shadow: none;
}
