$font-manrope: "Manrope", sans-serif;

.testimonial {
  margin-top: 10rem;

  &__header {
    width: 50%;
  }

  &__content {
    .slick-prev:before,
    .slick-next:before {
      background-color: #f1f1f1;
      color: #f85a47;
      border-radius: 100%;
    }

    .slick-dots li.slick-active button:before {
      opacity: 0.75;
      color: #f85a47;
    }

    .slick-dots {
      bottom: -35px;

      li {
        margin: 0 15px;

        button:before {
          font-size: 15px;
          color: #f85a47;
        }
      }
    }

    &--style {
      padding: 0;
    }

    &__card {
      border: 1px solid #ebebeb;
      width: 95%;
      border-radius: 10px;
      background: #ffffff;

      &--shadow {
        border: none;
        box-shadow: 3px 44px 54px rgba(0, 0, 0, 0.08);
      }

      &__star {
        display: inline-block;
        padding: 2rem;

        img {
          display: inline-block !important;
        }
      }

      &__desc {
        padding-left: 2rem;
        padding-right: 2rem;

        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 28px;
          color: #333333;
        }
      }

      &__author {
        padding: 2rem;

        strong,
        p {
          padding-left: 2rem;
        }
      }
    }

    .slick-slide {
      border: 1px solid #f85a47;
      text-align: center;
      margin-right: 15px;
      margin-left: 15px;
    }
  }

  &__info {
    &__callme {
      width: 90%;

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #333333;
      }

      a {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #2cbde7;
      }
    }
  }
}
